<div class="container">
  <div class="row ">
    <div class="col-md-12">
      <div class="error-template">
        <h1>
          Oops!</h1>
        <h2>
          404 Not Found</h2>
        <div class="error-details">
          Lo sentimos, ha ocurrido un error, la página solicitada no existe!
        </div>
        <div class="error-actions">
          <a [routerLink]="['/tablero-rapido']" href="http://www.jquery2dotnet.com" class="btn btn-primary btn-lg"><i class="fa fa-tachometer" aria-hidden="true"></i> Ir al tablero rápido </a>
        </div>
      </div>
    </div>
  </div>
</div>
