<div class="container">
  <div class="col-lg-4 col-md-6 col-sm-8 offset-md-3 offset-lg-4 offset-sm-2">
    <div class="logo">
      <img src="https://s-media-cache-ak0.pinimg.com/736x/95/bb/5b/95bb5be4f09440448f990752e0aa62e6.jpg" alt="Logo">
      <h1 class="singtext">HIDROMONITOR</h1>
    </div>
    <div class="row loginbox">
      <div class="col-lg-12">
        <span class="singtext">Iniciar sesión</span>
      </div>

      <md-input-container class="col-lg-11 col-md-11 col-sm-11" id="usuario" >
        <input mdInput placeholder="Usuario"  type="text" >
      </md-input-container>

      <md-input-container class="col-lg-11 col-md-11 col-sm-11" >
        <input mdInput placeholder="Contraseña"  type="password">
      </md-input-container>

      <div class="col-lg-12  col-md-12 col-sm-12">
        <a href="#" class="btn  submitButton">Ingresar </a>
      </div>

    </div>
    <div class="row forGotPassword">
      <a href="#">Olvidó la contraseña? </a>
    </div>
    <br>
    <br>
    <footer class="footer">
      <a href='#'>Terminos de uso</a> |
      <a href='#'>Política de privacidad</a> |
      <a href='#'>Contáctenos</a> |
      <a href='#'>Feedback</a>
      <p>©2017 Company All rights reserved </p>
    </footer>
    <!--footer Section ends-->

  </div>
</div>
